
h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("bg1.jpg");
	background-position: center;
	background-size: cover;
	z-index: 1;
}

#mycanvas{
	border-width: 10px;
	border-color: gray;
	border-style: ridge;
	background-color: white;
	z-index: 9;
}

span{
	font-size: 20px;
}
